body {
  background-color :#222f3e;
}
.app
{
  background-color: #576574;
  min-height: 580px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  
}
#toform input{
  background-color:#1dd1a1;
  border:0;
  width: 200px;
  height: 50px;
  padding:0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  outline: none;

}
#toform input::placeholder{
  color: #f5f6fa;

}
#toform button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:#e1b12c ;
  cursor: pointer;
  font-weight: bolder;
  font-size:16px;
  color: #ffff;
}




