@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100vh;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}
